.event-card {
  cursor: pointer;
  height: 29.5rem;
  width: 100%;
}

.event-card .event-photo {
  border-top-left-radius: 1.67rem;
  border-top-right-radius: 1.67rem;
  max-height: 12.5rem;
  min-height: 12.5rem;
  object-fit: fill;
}

.event-card .event-color-text {
  margin-left: 2rem;
  margin-right: 2rem;
}

.event-card .event-info {
  background-color: #FFFFFF;
  border: .2rem solid #EEEEEE;
  border-bottom-left-radius: 1.67rem;
  border-bottom-right-radius: 1.67rem;
  border-top: 0;
  padding: 1.42rem 1.5rem 0;
}

.event-card .event-info .event-details { width: 82%; }

.event-card .event-info .event-date-and-venue-rtl { margin-right: 0.7rem; }

.event-card .event-info .event-date-and-venue > :not(:last-child) { margin-right: .3rem; }

.event-card .event-info .event-date-venue-separator { height: 1.13rem; }

.dark-container .event-card .event-info {
  background-color: #323131;
  border: 0;
}

.high-contrast-container .event-card .event-info {
  background-color: transparent;
  border: 0;
}

.event-card .event-info .event-day {
  border: .1rem solid;
  border-radius: .2rem;
  height: 5.2rem;
  margin-right: 1.13rem;
  max-Width: 5rem;
  min-Width: 5rem;
}

.event-card .event-info .event-day::before {
  border-left: 2px solid;
  content: '';
  height: 7px;
  left: -1.6rem;
  position: relative;
  top: -4px;
}

.event-card .event-info .event-day::after {
  border-left: 2px solid;
  content: '';
  height: 9px;
  left: 1.6rem;
  position: relative;
  top: -50px;
}

.event-card .event-info .event-participants {
  height: 2.5rem;
  margin-top: 1.83rem;
}

.event-card .footer {
  bottom: -1.3rem;
  position: relative;
}