.manage-events-table { margin-top: 1.3rem; }

.close-cancel-event {
  height: 82vh;
  margin: 2.1rem 3.1rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.container-manage-events {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 170rem;
  overflow: hidden;
  position: relative;
}

.manage-events-scroll-area {
  bottom: 1px;
  height: 90%;
  margin-top: 1rem;
  overflow-X: hidden;
  overflow-Y: auto;
}

.manage-events-scroll-area-mobile {
  bottom: 1px;
  height: 82%;
  margin-top: 1rem;
  overflow-X: hidden;
  overflow-Y: auto;
}

.split-button div button { width: 16rem; }

.default-container .split-button button {
  background-color: transparent;
  border: none;
  color: #6264A7;
  font-size: 1.5rem;
}

.dark-container .split-button button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.high-contrast-container .split-button button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.list-header { font-size: 1.4rem; }

.default-container .manage-events-list-item-container {
  background-color: #FFFFFF;
  margin-top: 0.1rem;
  padding: 1rem;
}

.dark-container .manage-events-list-item-container {
  background-color: #2D2C2C;
  margin-top: 0.1rem;
  padding: 1rem;
}

.high-contrast-container .manage-events-list-item-container {
  background-color: transparent;
  margin-top: 0.1rem;
  padding: 1rem;
}

.mobile-menu-manage-events { padding-top: .75rem; }

.manage-events-list-item-container .divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.manage-events-list-item-container .list-elements { margin-top: 0.4rem; }

.manage-events-mobile-list-view {
  height: 85%;
  margin-top: .75rem !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.manage-events-mobile-list-view li { padding: 0rem; }

.manage-events-mobile-search-box { margin-top: .9rem; }

.manage-events-mobile-list-view .list-elements .category-name { text-transform: uppercase; }