.content-items-wrapper { width: 19.2rem; }

.radio-popup-content { width: 19rem !important; }

.content-items-body {
  max-height: 18rem;
  overflow-y: auto;
  width: 19.2rem;
}

.checkbox-content-width {
  vertical-align: middle;
  width: auto;
}

.content-items-headerfooter {
  height: 3rem;
  width: 19.5rem;
}

.filter-popup-menu-divider { margin-top: 1rem; }

.clear-button { margin-top: 0.5rem; }

.enable-clear {
  color: #C14B7A !important;
  margin-top: 0.5rem;
}

.clear-button div {
  margin-right: 0.5rem;
  margin-top: 0.09rem;
}

.filter-bar-item-container .filter-button { width: 17rem; }

.dark-container .filter-bar-item-container .filter-button {
  background-color: #3b3a39 !important;
  color: white !important;
}

.button-back {
  background: #F4F4F4 !important;
  border-radius: 2px;
  width: 22rem;
}

.high-contrast-container .filter-bar-item-container .filter-button { color: yellow !important; }

.default-container .filter-bar-item-container .filter-button {
  background-color: #F3F2F1 !important;
  color: #6264A7 !important;
}

.popup-container { margin-top: 2rem; }

@media only screen and (max-width: 750px) {
  .ui-button__content {
    display: contents;
    padding: 1rem !important;
    width: 22rem;
  }
}