.accordion-content-items-wrapper {
  height: 62vh;
  margin-top: 1rem;
  width: 100%;
}

.default-container .accordion-container {
  background-color: #F3F2F1 !important;
  color: #252423 !important;
  font-size: 1.6rem;
  margin: 0.2rem 0;
  padding: 1rem;
  width: 100%;
}

.radio-popup-content { width: 19rem !important; }

.accordion-content-items-body {
  max-height: 40vh;
  overflow-y: auto;
  width: 100%;
}

.accordion-content-items-body .checkbox-wrapper { margin-left: 1rem; }

.checkbox-content-width {
  vertical-align: "center";
  width: auto;
}

.accordion-content-items-headerfooter {
  height: 3rem;
  padding: 1rem;
  width: 100%;
}

.accordion-filter-popup-menu-divider { margin-top: 2rem; }

.clear-button { margin-top: 0.5rem; }

.enable-clear {
  color: #C14B7A !important;
  margin-top: 0.5rem;
}

.clear-button div {
  margin-right: 0.5rem;
  margin-top: 0.09rem;
}

.accordion-main {
  font-size: 1.7rem;
  width: 100%;
}

.dark-container .accordion-container {
  background-color: #3b3a39 !important;
  color: white !important;
  font-size: 1.6rem;
  margin: 0.1rem;
  padding: 1rem;
  width: 100%;
}

.button-back {
  background: #F4F4F4 !important;
  border-radius: 2px;
  width: 22rem;
}

.high-contrast-container .accordion-container {
  color: yellow !important;
  font-size: 1.6rem;
  margin: 0.1rem;
  padding: 1rem;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .ui-button__content {
    display: contents;
    padding: 1rem !important;
    width: 22rem;
  }
}